@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 243 244 246;
  --foreground: 17 24 39;
}

body {
  background-color: #f3f4f6;
  color: #111827;
}

/* Hide scrollbar for cleaner UI but keep functionality */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}